<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
    <h2>{{ 2 * 10 }}</h2>
    <h2>Random number is: {{ num }}</h2>
    <h2>Current Time is: {{ current_time }}</h2>

    <!-- Link to Blog Page -->
    <a href="/blog">Go to Blog Page</a>
</body>

<footer style="text-align: center; margin-top: 20px;">
    <p>{{ copyright }}</p>
</footer>
</html>
